[Unit]
Description=My service
After=network.target

[Service]
ExecStart=/usr/bin/python3 -u mqtt.py
WorkingDirectory=/home/pi/Extra-00/Rasp
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
